<?xml version="1.0" encoding="utf-8"?>
<beans>
    <bean id="fruit" class="com.zx.fruit.controller.FruitController"/>
    <bean id="fruitDaoImp" class="com.zx.fruit.DAO.fruitDaoImp"/>
    <bean id="FruitServiceImp" class="com.zx.fruit.service.FruitServiceImp">
        <property name="fruitDao" ref="fruitDaoImp"/>
    </bean>
    <bean id="fruit" class="com.zx.fruit.controller.FruitController">
        <property name="fruitService" ref="FruitServiceImp"/>
    </bean>
</beans>