#div_add_reply {
    align-content: center;
    width: 60%;
    margin-left: 30%;
    margin-top: 10%;
    padding-bottom: 32px;
}

#div_add_reply input[type=text] {
    width: 98%;
    border: 0px dotted gray;
}

#div_add_reply textarea {
    width: 98%;
}

body {
    background-color: #E8E8FF;
}